Calculadora/Connected Services/Referencia_servicio/CalculatorWCF.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CalculatorWCF" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:61823/CalculatorWCF.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:61823/CalculatorWCF.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICalculatorWCF_Suma_InputMessage">
    <wsdl:part name="parameters" element="tns:Suma" />
  </wsdl:message>
  <wsdl:message name="ICalculatorWCF_Suma_OutputMessage">
    <wsdl:part name="parameters" element="tns:SumaResponse" />
  </wsdl:message>
  <wsdl:message name="ICalculatorWCF_Resta_InputMessage">
    <wsdl:part name="parameters" element="tns:Resta" />
  </wsdl:message>
  <wsdl:message name="ICalculatorWCF_Resta_OutputMessage">
    <wsdl:part name="parameters" element="tns:RestaResponse" />
  </wsdl:message>
  <wsdl:message name="ICalculatorWCF_Multiplicacion_InputMessage">
    <wsdl:part name="parameters" element="tns:Multiplicacion" />
  </wsdl:message>
  <wsdl:message name="ICalculatorWCF_Multiplicacion_OutputMessage">
    <wsdl:part name="parameters" element="tns:MultiplicacionResponse" />
  </wsdl:message>
  <wsdl:message name="ICalculatorWCF_Division_InputMessage">
    <wsdl:part name="parameters" element="tns:Division" />
  </wsdl:message>
  <wsdl:message name="ICalculatorWCF_Division_OutputMessage">
    <wsdl:part name="parameters" element="tns:DivisionResponse" />
  </wsdl:message>
  <wsdl:portType name="ICalculatorWCF">
    <wsdl:operation name="Suma">
      <wsdl:input wsaw:Action="http://tempuri.org/ICalculatorWCF/Suma" message="tns:ICalculatorWCF_Suma_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICalculatorWCF/SumaResponse" message="tns:ICalculatorWCF_Suma_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Resta">
      <wsdl:input wsaw:Action="http://tempuri.org/ICalculatorWCF/Resta" message="tns:ICalculatorWCF_Resta_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICalculatorWCF/RestaResponse" message="tns:ICalculatorWCF_Resta_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Multiplicacion">
      <wsdl:input wsaw:Action="http://tempuri.org/ICalculatorWCF/Multiplicacion" message="tns:ICalculatorWCF_Multiplicacion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICalculatorWCF/MultiplicacionResponse" message="tns:ICalculatorWCF_Multiplicacion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Division">
      <wsdl:input wsaw:Action="http://tempuri.org/ICalculatorWCF/Division" message="tns:ICalculatorWCF_Division_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICalculatorWCF/DivisionResponse" message="tns:ICalculatorWCF_Division_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICalculatorWCF" type="tns:ICalculatorWCF">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Suma">
      <soap:operation soapAction="http://tempuri.org/ICalculatorWCF/Suma" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Resta">
      <soap:operation soapAction="http://tempuri.org/ICalculatorWCF/Resta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Multiplicacion">
      <soap:operation soapAction="http://tempuri.org/ICalculatorWCF/Multiplicacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Division">
      <soap:operation soapAction="http://tempuri.org/ICalculatorWCF/Division" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CalculatorWCF">
    <wsdl:port name="BasicHttpBinding_ICalculatorWCF" binding="tns:BasicHttpBinding_ICalculatorWCF">
      <soap:address location="http://localhost:61823/CalculatorWCF.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>